body {
    background-color: #222;
    padding-top: 5em;
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    color: white;
}
h1 {
    font-size: 11em;
    font-size: calc(5vw + 5em);;
    letter-spacing: 2px;
    color: white;
    margin-bottom: .2em;
}
input {
    font-size: 1.2em;
    border: 1px solid #666;
    background-color: transparent;
    border-radius: 3px;
    width: 35em;
    padding: .5em .8em;
    color: white;
}
input:focus {
    border: 1px solid royalblue;
    outline: none;
}
#links {
    position: absolute;
    bottom: 0;
    right: .5em;
}
.fa {
    font-size: 2em;
    color: white;
    padding: .3em;
}
p {
  color: #666;
}
